[submodule "task1-submodule"]
	path = task1-submodule
	url = ./task1-submodule
[submodule "task3-submodule"]
	path = task3-submodule
	url = ./task3-submodule
[submodule "task2-submodule"]
	path = task2-submodule
	url = ./task2-submodule
[submodule "task4-submodule"]
	path = task4-submodule
	url = ./task4-submodule
